.home-page {
    display: grid;
    justify-content: center;
    margin-top: 20%;
}

.home-page a {
    text-decoration: none;
    color: white;
}

.home-page li {
    list-style-type: none;
}

#home-page-btn {
    padding: 10px;
    width: 200px;
}

